@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

*{
	margin: 0;
	padding: 0;
	font-family: Ubuntu-Regular;
}

body{
	background: #c4c4c4;
}

img{
	border-radius: 50%;
	width: 200px;
	display:block;
}

.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.profile-wrapper{
	width: 500px;
	background:#fff;
	
}

.profile-wrapper .gambar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-wrapper .caption{
	padding:10px;
}

.profile-wrapper .caption .typed ul{
	list-style: none;
}
.content{
	margin:10px;
}
.content-wrapper{
	background:#fff;
	padding: 20px;
	height: 430px;
	/* margin-left: 30px; */
}


/* responsive */
@media screen and (max-width: 700px) {
	.container {   
	  flex-direction: column;
	}
	.profile-wrapper{
		width: 100%;
	}
	.content{
		width: 100%;
	}
	.content-wrapper{
		margin-top:10px;
	}
  }

  @media screen and (max-width: 460px) {
	.container {   
	  flex-direction: column;
	}
	.profile-wrapper{
		width: 100%;
	}
	.content{
		width: 100%;
	}
	.content-wrapper{
		margin-top:10px;
	}
  }