@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
div,
p,
img,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
}

img {
	max-width: 100%;
}

#header {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.container {
	max-width: 70%;
	margin: 0 auto;
}

nav {
	/*background-color: #f5f5f5;*/
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* serch */
header .nav_search {
	text-align: center;
	width: 60%;
	border-radius: 3px;
	border: 1px solid #ddd;
}

/* social media */
header .header_social-wrapper {
	text-align: center;
}

header .header_social-wrapper .list-unstyled {
	list-style: none;
	padding-left: 0;
}

header .header_social-wrapper .list-inline li {
	display: inline-block;

}

header .header_social-wrapper .social-icons .fa {
	font-size: 1em;
	width: 30px;
	height: 30px;
	line-height: 30px;
    text-align: center;
    color: #fff;
}

header .header_social-wrapper .icon-circle .fa {
	border-radius: 50px;
}

header .header_social-wrapper .social-icons .fa-instagram {
	background-color: #FF0084;
}
header .header_social-wrapper .social-icons .fa-facebook {
	background-color: #3C599F;
}
header .header_social-wrapper .social-icons .fa-twitter {
	background-color: #32CCFE;
}
header .header_social-wrapper .social-icons .fa-linkedin {
	background-color: #0085AE;
}

/* hero */
#hero {
	margin: 2em 0;
}
#hero .hero_wrapper {
	display: flex;
}

#hero .hero_image {
	max-width: 100%;
}

#hero .hero_image-wrapper {
	display: flex;
	justify-content: center;
}

#hero .hero_information {
	flex-basis: 50%;
	margin: 2em 2em;
}
#hero .hero_information .hire-me {
	border: 0;
	padding: 1em;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	margin-top: 1em;
}

#hero .hero_information .get-cv {
	border: 0;
	padding: 1em;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	margin-top: 1em;
}

/* content */

#content .content_wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*align-items: center;*/
	grid-column-gap: 1em;
}

#content .content_wrapper .item {
	/*padding: 2em;*/
	/*background-color: #aaa;*/
}


@media (max-width: 45em) {
	#header .container {
		max-width: 100%;
	}

	#header nav {
		display: flex;
		justify-content: space-between;
	}

	#header .container nav .nav_search {
		display: none;
	}

	/* hero */
	#hero .container {
		max-width: 100%;
	}
	#hero .hero_wrapper {
		margin: 0 1em;
	}
	#hero .image_image_wrapper {
		margin: 0 1em;
		/*padding: 1em;*/
	}
	#hero .hero_information {
		margin: 1em;
	}

	#content .container {
		/*max-width: 100%;*/
		/*margin: 0 auto;*/
	}
	#content .content_wrapper {
		grid-template-columns: repeat(1, 1fr);
		/*align-items: center;*/
	}
}